.brand-card{
    box-shadow: 0px 4px 6px rgba(138, 138, 138, 0.32);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

.brand-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}