*{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2E2F30;
}

::-webkit-scrollbar-thumb {
    background-color: #FFCA2C;;
    border-radius: 10px;
    border: 2px solid #FFCA2C;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFCA2C;
}